/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
  color: white;
  background: #262626;
}

header {
	text-align: center;  
}

h1 {
	font-size: 2.5em;
	margin: 0;
	color: white;
}

h3 {
	font-size: 1.3em;
	font-weight: 300;
}

a {
  text-decoration: none;
}

p {
	font-size: 1.2em;
}


/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .2em .5em .5em;
	background: #4E5457;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend.user-legend {
	font-weight: 500;
	padding-top: .9em;
	border-top: 2px solid grey;
	margin-bottom: 1.125em;
	width: 95%;
}


legend {
	width: 100%;
	font-weight: 500;
	margin-bottom: .8em;
	font-size: 1.6em;
}

input[type="text"],
input[type="email"] {
	width: 85%;
}

label {
	color: #fff;
	display: block;
	margin-bottom: .5em;
	font-size: 1.2em;
}

input,
select {
	margin-bottom: 0em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .5em;
	background: #fff;
	border: 2px solid #fff;
	outline: none;
	border-radius: 4px;
}

input:focus, .focus {
	background: #fff;
	border-color: #28df7a;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #28df7a;
	margin: 1.25em auto .5em;
	cursor: pointer;
	width: 90%;
	display: block;
	border-radius: 4px;
	transition: background 0.3s ease;
}

button:hover {
	background: #1db863;
}

.styled-select-medium select {
	background: transparent;
   	width: 170px;
   	padding: 5px 10px 10px;
   	font-size: 16px;
   	line-height: 2em;
   	border: 0;
   	border-radius: 0;
   	height: 47px;
   	-webkit-appearance: none;
   	-moz-appearance: none;
}

.styled-select-medium {
   width: 170px;
   height: 39px;
   overflow: hidden;
   background: url('../images/arrow.png') no-repeat right #fff;
   border: none;
   background-size: 30px 15px;
   border-radius: 4px;
   }

.phone {
	max-width: 98%;
}

.dept-container {
	margin: auto;
}

.dept-container label {
	margin-top: 15px;
}

.close-button {
	position: relative;
	display: block;
	cursor: pointer;
	float: right;
	height: 40px;
	width: 30px;
}

.close-button span {
	display: block;
	height: 20px;
	width: 20px;
}

.close-button:before,
.close-button:after {

	position: absolute;
	content: '';
	width: 20px;
    height: 4px;
    background-color: white;
    display: block;
    top: 15px;
    left: 2px;

}

.close-button:before {
	transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}

.close-user-button{
	margin-top: -25px;
}

.checkbox-label {
	display: inline;
}

.dept-checkbox {
	margin: 5px;
}

.dept-dupe-error,
.dept-empty-error {
	float: left;
	color: red;
}

#user-section {
	margin-left: 25px;
}

.submit-btn {
	margin-top: 55px;
	border-top: 2px solid grey;
}

button[type="submit"]{
	margin: 15px auto 10px;
}

.depts-checkbox-container {
	margin-top: 35px;
}

.dept-checkbox {
	margin-top: 10px;
}

.checkbox-label {
	margin-left: 5px;
	font-size: 1.1em;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 1020px;
}

.field-container {
	width: 98%;
	margin: 5px 0 20px;
}

.field-container-small {
	width: 98%;
	margin: 5px 0 20px;
}

.user-divider {
	font-weight: 500;
	margin: 30px 0 45px;
	padding-top: .5em;
	border-top: 2px solid grey;
}

.dept-section {
	margin-left: 25px;
}



/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 680px)  {
	header {
		padding: 2em 0;
	}

	button {
		width: 300px;
		margin-left: 30px;
	}

	.dept-container {
		max-width: 550px;
		margin: 5px;
	}

	.close-button {
		width: 45px;
	}
	.close-button:before,
	.close-button:after {
		top: 17px;
	}

	.field-container {
		width: 45%;
		display:inline-block;
	}

	.field-container-small {
		width: 33%;
		float: left;
	}

	.close-user-button {
		margin-top: -40px;
	}
}
